<div class="timeline-container">	
	<div class="timeline-item" date-is='2021&ndash;Present'>
		<h3>Postdoctoral Research Scientist</h3>
		<p>
			Lightwave Research Laboratory, Columbia University, New York, NY, USA
		</p>
	</div>	
	<div class="timeline-item" date-is='2021'>
		<h3>Ph.D. in Electrical and Computer Engineering</h3>
		<p>
			University of California, Santa Barbara, CA, USA
		</p>
	</div>
	<div class="timeline-item" date-is='2018'>
		<h3>M.S. in Electrical and Computer Engineering</h3>
		<p>
			University of California, Santa Barbara, CA, USA
		</p>
	</div>
    <div class="timeline-item" date-is='2015'>
		<h3>B.Eng. in Electronic Engineering</h3>
		<p>
			Tsinghua University, Beijing, China
		</p>
	</div>
</div>