<!-- Add HTML tags here to be included in the head -->
<link href={{ "/assets/css/vendor/fontawesome/css/fontawesome.css" | absURL }} rel="stylesheet" />
<link href={{ "/assets/css/vendor/fontawesome/css/brands.css" | absURL }} rel="stylesheet" />
<link href={{ "/assets/css/vendor/fontawesome/css/solid.css" | absURL }} rel="stylesheet" />
<link href={{ "/assets/css/vendor/fontawesome/css/regular.css" | absURL }} rel="stylesheet" />
<link href={{ "/assets/css/vendor/academicons/css/academicons.css" | absURL }} rel="stylesheet" />
<link href={{ "/assets/css/vendor/academicons/css/academicons.min.css" | absURL }} rel="stylesheet" />
<link rel="preload" as="font" href="{{ "/assets/fonts/Slideqiuhong-Regular.woff2" | absURL }}" type="font/ttf" crossorigin>