<!-- Add HTML tags here to be included in the head -->
<link href={{ "/assets/css/vendor/fontawesome/css/fontawesome.css" | absURL }}
rel="stylesheet" /> <link href={{
"/assets/css/vendor/fontawesome/css/brands.css" | absURL }} rel="stylesheet" />
<link href={{ "/assets/css/vendor/fontawesome/css/solid.css" | absURL }}
rel="stylesheet" /> <link href={{
"/assets/css/vendor/fontawesome/css/regular.css" | absURL }} rel="stylesheet" />
<link href={{ "/assets/css/vendor/academicons/css/academicons.css" | absURL }}
rel="stylesheet" /> <link href={{
"/assets/css/vendor/academicons/css/academicons.min.css" | absURL }}
rel="stylesheet" /> <link rel="preload" as="font" href="{{
"/assets/fonts/Slideqiuhong-Regular.woff2" | absURL }}" type="font/ttf"
crossorigin>

<script>
  function updateAccentImage() {
    var isDarkMode = document.body.classList.contains("dark-mode");
    var accentImage = isDarkMode
      ? "/assets/img/bg/west_campus@3840w.jpg"
      : "/assets/img/bg/saikung@3840w.jpg";
    var sidebarImage = isDarkMode
      ? "/assets/img/bg/saikung@3840w.jpg"
      : "/assets/img/bg/west_campus@3840w.jpg";
    $(".sidebar").css({
      "background-image": "url(" + sidebarImage + ")",
      "background-position": "center",
      "background-size": "cover",
    });
    $(".sidebar-bg").css("background-image", "url(" + accentImage + ")");
    $(".sidebar-bg").hide().fadeIn(500);
  }
  // Listen for custom event
  window.addEventListener("hydejack-dark-mode-toggle", function () {
    updateAccentImage();
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function initializeAccentImage() {
    window._sunrise = 6;
    window._sunset = 18;
    if (
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
      $(".sidebar-bg").css(
        "background-image",
        "url(/assets/img/bg/west_campus@3840w.jpg)"
      );
    } else {
      o = new Date().getHours();
      if (o < window._sunrise || o >= window._sunset) {
        $(".sidebar-bg").css(
          "background-image",
          "url(/assets/img/bg/west_campus@3840w.jpg)"
        );
      }
    }
  }
  $(document).ready(function () {
    initializeAccentImage();
  });
</script>
