<a id="button-to-top" href="#"><i class="fa-solid fa-hand-point-up"></i></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    var btn = $('#button-to-top');
    $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, '300');
    });
</script>

<!-- <script>
    function updateAccentImage() {
        if(document.body.classList.contains('dark-mode')){
            var accentImageDark = '{{ site.accent_image_dark }}';
            document.querySelector('.sidebar-bg').style.backgroundImage = 'url(' + accentImageDark + ')';
        } else if(document.body.classList.contains('light-mode')){
            var accentImageLight = '{{ site.accent_image }}';
            document.querySelector('.sidebar-bg').style.backgroundImage = 'url(' + accentImageLight + ')';
        }
    }
    // Listen for custom event
    window.addEventListener('hydejack-dark-mode-toggle', function() {
        updateAccentImage();
    });
</script> -->