.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

@font-face {
  font-family: Slideqiuhong;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    url("/assets/fonts/Slideqiuhong-Regular.woff2") format("woff2"),
    url("/assets/fonts/Slideqiuhong-Regular.ttf") format("truetype");
}

.qiuhong {
  font-family: Slideqiuhong, sans-serif;
  font-weight: 400;
}

#button-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(208, 135, 112);
  color: rgb(245, 245, 245);
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  position: fixed;
  bottom: 120px;
  right: 20px;
  transition:
    background-color 0.3s,
    opacity 0.5s,
    visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
  
#button-to-top:hover {
  background-color: darken(rgb(208, 135, 112), 10%);
  text-decoration: none;
}
  
#button-to-top.show {
  opacity: 1;
  visibility: visible;
}

html {
  scroll-behavior: smooth;
}