// Font for Chinese characters
@font-face {
  font-family: Slideqiuhong;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    url("/assets/fonts/Slideqiuhong-Regular.woff2") format("woff2"),
    url("/assets/fonts/Slideqiuhong-Regular.ttf") format("truetype");
}

.qiuhong {
  font-family: Slideqiuhong, sans-serif;
  font-weight: 400;
}

// Button to top
#button-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(208, 135, 112);
  color: rgb(245, 245, 245);
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  position: fixed;
  bottom: 120px;
  right: 20px;
  transition:
    background-color 0.3s,
    opacity 0.5s,
    visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
  
#button-to-top:hover {
  background-color: darken(rgb(208, 135, 112), 10%);
  text-decoration: none;
}
  
#button-to-top.show {
  opacity: 1;
  visibility: visible;
}

// Sidebar background blur
.sidebar-bg {
  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(10px);
}