.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

@font-face {
  font-family: Slideqiuhong;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    url("/assets/fonts/Slideqiuhong-Regular.woff2") format("woff2"),
    url("/assets/fonts/Slideqiuhong-Regular.ttf") format("truetype");
}

.qiuhong {
  font-family: Slideqiuhong, sans-serif;
  font-weight: 400;
}