{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <p>{{ .Params.lead | safeHTML }}</p>
      <div class="text-center">{{ .Content }}</div>
            <div class="row row-cols-1 row-cols-xl-2 gx-4">
                {{ range where .Site.RegularPages.ByWeight "Section" "research" -}}
                <div class="col mt-n4">
                    <div class="card">
                        {{- .Scratch.Set "fillImageCard" "1270x620 Center" -}}
                        {{ partial "content/card-image.html" . }}
                        <div class="card-body">
							<h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}{{ with .Params.emoji -}}&nbsp;{{ . | emojify }}{{ end -}}</a></h2>
							<p>{{ .Params.lead | safeHTML }}</p>
                            {{ if .Params.topics -}}<p class="card-text mt-2"><small>{{ range $index, $topics := .Params.topics }}{{ if gt $index 0 }} {{ end }}<a class="btn btn-primary btn-sm rounded-pill stretched-link position-relative" href="{{ "/research/topics/" | relURL }}{{ . | urlize }}/">{{ . | humanize }}</a>{{ end -}}</small></p>{{ end -}}
						</div>
                    </div>
                </div>
                {{ end -}}
            </div>
    </article>
  </div>
</div>
{{ end }}