/** Custom styles */

#social-in-landing-page a {
  color: $body-color;
}

#social-in-landing-page a:hover {
  color: $link-color;
}

[data-dark-mode] #social-in-landing-page a {
  color: $body-color-dark;
}

[data-dark-mode] #social-in-landing-page a:hover {
  color: $link-color-dark;
}

.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 5px $gray-100;
  background-color: $gray-100;
  box-shadow: 0 0 10px 5px  rgba(25, 31, 45, 0.2);
  -moz-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  -webkit-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  -o-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  margin: 10px 0;
}

.circular_image img {
  width: 141.5%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[data-dark-mode] .circular_image {
  border: solid 5px $gray-700;
  background-color: $gray-700;
  box-shadow: 0 0 10px 5px  rgba(25, 31, 45, 0.8);
  -moz-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
  -webkit-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
  -o-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
}
