/** Custom styles */
#social-in-landing-page {
  font-size: larger;
}

#social-in-landing-page a {
  color: $body-color;
  text-decoration: none;
}

#social-in-landing-page a:hover {
  color: $link-color;
  text-decoration: none;
}

[data-dark-mode] #social-in-landing-page a {
  color: $body-color-dark;
  text-decoration: none;
}

[data-dark-mode] #social-in-landing-page a:hover {
  color: $link-color-dark;
  text-decoration: none;
}

.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 5px $gray-100;
  background-color: $gray-100;
  box-shadow: 0 0 10px 5px  rgba(25, 31, 45, 0.2);
  -moz-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  -webkit-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  -o-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  margin: 10px 0;
}

.circular_image img {
  width: 141.5%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[data-dark-mode] .circular_image {
  border: solid 5px $gray-700;
  background-color: $gray-700;
  box-shadow: 0 0 10px 5px  rgba(25, 31, 45, 0.8);
  -moz-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
  -webkit-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
  -o-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
}

.cv-box {
  width: 100%;
  position: relative;
  padding-bottom: 110%;
  border: solid 5px $gray-100;
  background-color: $gray-100;
  box-shadow: 0 0 10px 5px  rgba(25, 31, 45, 0.2);
  -moz-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  -webkit-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  -o-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.2);
  margin: 10px 0;
}

.cv-box-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

[data-dark-mode] .cv-box {
  border: solid 5px $gray-700;
  background-color: $gray-700;
  box-shadow: 0 0 10px 5px  rgba(25, 31, 45, 0.8);
  -moz-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
  -webkit-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
  -o-box-shadow: 0 0 10px  5px rgba(25, 31, 45, 0.8);
}

#button-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 90px;
  right: 30px;
  transition:
    background-color 0.3s,
    opacity 0.5s,
    visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-to-top:hover {
  background-color: darken($primary, 5%);
  text-decoration: none;
}

#button-to-top.show {
  opacity: 1;
  visibility: visible;
}

html {
  scroll-behavior: smooth;
}

.pos-relative {
  position: relative;
}

.curve-odd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-odd svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.curve-odd .shape-fill-odd {
  fill: $body-bg;
}

.curve-odd .shape-fill-even {
  fill: darken($body-bg, 5%);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .curve-odd svg {
    width: calc(100% + 1.3px);
    height: 50px;
  }
}

.curve-even {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-even svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.curve-even .shape-fill-odd {
  fill: $body-bg;
}

.curve-even .shape-fill-even {
  fill: darken($body-bg, 5%);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .curve-even svg {
    width: calc(100% + 1.3px);
    height: 50px;
  }
}

/** Docsearch Logo Color **/
.DocSearch-Logo .cls-1,
.DocSearch-Logo .cls-2 {
  fill: var(--docsearch-logo-color);
}