/** Custom styles */

#social-in-landing-page a {
  color: $body-color;
}

#social-in-landing-page a:hover {
  color: $primary;
}

[data-dark-mode] #social-in-landing-page a {
  color: $body-color-dark;
}

[data-dark-mode] #social-in-landing-page a:hover {
  color: $blue-300;
}
