@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 100;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-Thin.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-ExtraLight.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-Light.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-Medium.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-SemiBold.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-Bold.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-ExtraBold.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 100;
  font-style: italic;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-ThinItalic.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 200;
  font-style: italic;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-ExtraLightItalic.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 300;
  font-style: italic;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-LightItalic.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-RegularItalic.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-MediumItalic.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-SemiBoldItalic.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-BoldItalic.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-ExtraBoldItalic.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
}
