@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 100;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-Thin.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-Thin.ttf") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-ExtraLight.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraLight.ttf") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-Light.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-Light.ttf") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("fonts/vendor/JetBrainsMono/fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype"), url("fonts/vendor/JetBrainsMono/fonts/webfonts/JetBrainsMono-Regular.ttf") format("woff2");
}
